<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="team">
        <h2>Team: <%= @team.name %></h3>
        <h4>Motto: <%= @team.motto %></h4>
    </div><br>

    <h1>Ships</h1>
      <% @ships.each do |ship| %>
        <div class="ship">
          <p>Name: <%= ship.name %></p>
          <p>Type: <%= ship.type %></p>
          <p>Booty: <%= ship.booty %></p>
        </div><br>
        <% end %>
  </body>

</html>
